In [ ]:
import sys
import pandas as pd
import numpy as np
import time
import configparser
import os
import pymysql



cf = configparser.ConfigParser()
path = os.path.abspath(os.curdir)
confpath = path + "/conf/config4.ini"
cf.read(confpath)  # 读取配置文件，如果写文件的绝对路径，就可以不用os模块

user = cf.get("Mysql", "user")  # 获取user对应的值
password = cf.get("Mysql", "password")  # 获取password对应的值
db_host = cf.get("Mysql", "host")  # 获取host对应的值
database = cf.get("Mysql", "database")  # 获取dbname对应的值


# -*- coding: utf-8 -*-
class MysqlClient:
    def __init__(self, db_host,database,user,password):
        """
        create connection to hive server
        """
        self.conn = pymysql.connect(host=db_host, user=user,password=password,database=database,charset="utf8")
    def query(self, sql):
        """
        query
        """
        cur = self.conn.cursor()
        cur.execute(sql)
        res = cur.fetchall()
        columnDes = cur.description #获取连接对象的描述信息
        columnNames = [columnDes[i][0] for i in range(len(columnDes))]
        cur.close()
        return res,columnNames
    def close(self):
        self.conn.close()

# con = MysqlClient(db_host,database,user,password)

pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://'+'mysql'+':'+'egSQ7HhxajHZjvdX'+'@'+'172.28.56.90'+':'+'3306'+'/'+'dws_db')# 初始化引擎
con = MysqlClient(db_host,database,user,password)

# def to_dws(result,table):
#     engine = create_engine("mysql+pymysql://mysql:egSQ7HhxajHZjvdX@172.28.56.90:3306/dws_db?charset=utf8")
#     result.to_sql(name = table,con = engine,if_exists = 'replace',index = False,index_label = False)
print('done')

In [ ]:
# 总价分布

# 楼盘表
res,columnNames = con.query('''
SELECT 
city_id,
newest_id
FROM dwb_db.dwb_newest_info
''')
df = pd.DataFrame([list(i) for i in res],columns=columnNames)

# 城市对应表
res,columnNames = con.query('''
SELECT 
city_id,full_name,city_level_desc
from 
dw.dim_city 
where city_level_desc !=''
''')
df1 = pd.DataFrame([list(i) for i in res],columns=columnNames)

# 补4个没有城市等级的城市
dfn = pd.DataFrame([['610100','西安市', '二线城市'], ['442000','中山市', '三线城市'],['512000','资阳市','四线城市'],['422800','恩施土家族苗族自治州','四线城市']], columns=('city_id','full_name','city_level_desc'))
df1=df1.append(dfn).reset_index()

# df2 楼盘对应城市与城市等级
df2=pd.merge(df,df1,how='inner',left_on='city_id',right_on='city_id')


# 获取总价信息的表
res,columnNames = con.query('''
SELECT 
newest_id,
layout_price
FROM 
dwb_db.dwb_newest_layout
where layout_price >0
''')
df3 = pd.DataFrame([list(i) for i in res],columns=columnNames)

# 楼盘信息+总价
df4=pd.merge(df3,df2,how='inner',left_on='newest_id',right_on='newest_id')


# 浏览数据 df7
res,columnNames = con.query('''
SELECT 
imei,
newest_id,
visit_date
FROM dwb_db.dwb_customer_browse_log
''')
df7 = pd.DataFrame([list(i) for i in res],columns=columnNames)
df7.visit_date = pd.to_datetime(df7.visit_date)
df7['quarter'] = pd.PeriodIndex(df7.visit_date, freq='Q')

# df7 3992258   df4 84255
df8 = pd.merge(df7,df4,how='inner',on='newest_id')

In [ ]:

# 拆分区间  一线直接过滤200以下的  其他正常  本次样本无4线城市记录  
# ss=df8[(df8.city_level_desc=='一线城市')&(df8.layout_price>200)]

# ss=df8[(df8.city_level_desc=='三线城市')]
# ss

# s = tuple(ss['layout_price'])
# s2=list(s)

# s = pd.Series(s2)
# cats = pd.qcut(s,6,duplicates='drop')  # 
# a = pd.value_counts(cats)
# a

In [ ]:
# 拆分区间
condlist=[
np.logical_and(df8.city_level_desc=='一线城市',df8.layout_price<270),
np.logical_and(df8.city_level_desc=='一线城市',df8.layout_price<360),
np.logical_and(df8.city_level_desc=='一线城市',df8.layout_price<460),
np.logical_and(df8.city_level_desc=='一线城市',df8.layout_price<625),
np.logical_and(df8.city_level_desc=='一线城市',df8.layout_price<1050),
np.logical_and(df8.city_level_desc=='一线城市',df8.layout_price>=1050),

np.logical_and(df8.city_level_desc=='二线城市',df8.layout_price<100),
np.logical_and(df8.city_level_desc=='二线城市',df8.layout_price>135),
np.logical_and(df8.city_level_desc=='二线城市',df8.layout_price<170),
np.logical_and(df8.city_level_desc=='二线城市',df8.layout_price>220),
np.logical_and(df8.city_level_desc=='二线城市',df8.layout_price<320),
np.logical_and(df8.city_level_desc=='二线城市',df8.layout_price>=320),

np.logical_and(df8.city_level_desc=='三线城市',df8.layout_price<65),
np.logical_and(df8.city_level_desc=='三线城市',df8.layout_price>100),
np.logical_and(df8.city_level_desc=='三线城市',df8.layout_price<135),
np.logical_and(df8.city_level_desc=='三线城市',df8.layout_price>180),
np.logical_and(df8.city_level_desc=='三线城市',df8.layout_price<260),
np.logical_and(df8.city_level_desc=='三线城市',df8.layout_price>=260)
]  #参数一，定义三个限制条件
# print(condlist)
choicelist=[
'270以下','270~360','360~460','460~625','625~1050','1050以上', 
'100以下','100~135','135~170','170~220','220~320','320以上', 
'65以下','65~100','100~135','135~180','180~260','260以上'
]
# print(choicelist)
df5=np.select(condlist,choicelist)

df5
df8['choicelist1'] = df5
df9=df8.groupby(['city_id','newest_id','city_level_desc','quarter','choicelist1',])['imei'].count().to_frame('number').reset_index()


# np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price<30),np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price>60),
# np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price<80),np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price>120),
# np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price<180),np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price>=180)

# '四线-30以下','四线-30~60','四线-60~80','四线-80~120','四线-120~180','四线-180以上'

# 楼盘总价各区间结果表
df9.rename(columns={'choicelist1': 'interval'}, inplace=True)



# 导入到MySQL
# df9=df9.astype('str')
# df9.to_sql('dws_newest_layout_price',engine,index=False,if_exists='append')

In [172]:
df10 = df9.groupby(['newest_id','quarter'])['number'].sum().reset_index()
df11 = pd.merge(df9,df10,how='inner',on=('newest_id','quarter'))

In [173]:
df11

,city_id,newest_id,city_level_desc,quarter,interval,number_x,number_y
0,110000,0109639c53f8fe047886c5c777ced440,一线城市,2020Q4,360~460,1298,2596
1,110000,0109639c53f8fe047886c5c777ced440,一线城市,2020Q4,460~625,1298,2596
2,110000,022ed0353a180eed45906693734194c1,一线城市,2020Q4,270~360,456,1368
3,110000,022ed0353a180eed45906693734194c1,一线城市,2020Q4,360~460,456,1368
4,110000,022ed0353a180eed45906693734194c1,一线城市,2020Q4,460~625,456,1368
...,...,...,...,...,...,...,...
8843,610400,d89d7863253538673c06787681d283c1,三线城市,2020Q4,65~100,289,289
8844,610400,eaeeff93857d0d880def547bd04978eb,三线城市,2020Q4,65~100,1508,1508
8845,610400,eba83f1229600b90e1ea49bd22656eab,三线城市,2020Q4,65~100,218,218
8846,610400,ff2a874bcdd11fa050837e6bf5f4b313,三线城市,2020Q4,100~135,175,1050
8847,610400,ff2a874bcdd11fa050837e6bf5f4b313,三线城市,2020Q4,65以下,875,1050

In [ ]:
df11['percent']=df11['number_x']/df11['number_y']
df11.head(30)

In [ ]:
# 均价分布

In [ ]:
# 楼盘表取均值 
res,columnNames = con.query('''
SELECT
newest_id,
city_id,
unit_price
FROM 
dwb_db.dwb_newest_info
WHERE 
unit_price>=2000
''')
unit0= pd.DataFrame([list(i) for i in res],columns=columnNames)


unit0 = df7.merge(unit0, how='inner', on=['newest_id']).merge(df1,how='inner', on=['city_id']).reset_index()

In [174]:
unit0

,level_0,imei,newest_id,visit_date,quarter,city_id,unit_price,index,full_name,city_level_desc,interval
0,0,01398600454322,e3da1b4a963102038ea8d427b14c0e84,2020-10-01,2020Q4,370200,13000,132,青岛市,二线城市,1.3-1.5
1,1,35301009369010,e3da1b4a963102038ea8d427b14c0e84,2020-10-01,2020Q4,370200,13000,132,青岛市,二线城市,1.3-1.5
2,2,35382108517528,e3da1b4a963102038ea8d427b14c0e84,2020-10-01,2020Q4,370200,13000,132,青岛市,二线城市,1.3-1.5
3,3,35485609558084,e3da1b4a963102038ea8d427b14c0e84,2020-10-01,2020Q4,370200,13000,132,青岛市,二线城市,1.3-1.5
4,4,35489009561331,e3da1b4a963102038ea8d427b14c0e84,2020-10-01,2020Q4,370200,13000,132,青岛市,二线城市,1.3-1.5
...,...,...,...,...,...,...,...,...,...,...,...
3460014,3460014,35305809702538,0b1085a4275f1eceb302262827c642a2,2020-12-21,2020Q4,350600,18500,116,漳州市,三线城市,1-1.3
3460015,3460015,35395910263554,0b1085a4275f1eceb302262827c642a2,2020-12-24,2020Q4,350600,18500,116,漳州市,三线城市,1-1.3
3460016,3460016,35633110814662,0b1085a4275f1eceb302262827c642a2,2020-12-24,2020Q4,350600,18500,116,漳州市,三线城市,1-1.3
3460017,3460017,86666704304330,0b1085a4275f1eceb302262827c642a2,2020-12-28,2020Q4,350600,18500,116,漳州市,三线城市,1-1.3
3460018,3460018,86778804552889,0b1085a4275f1eceb302262827c642a2,2020-12-29,2020Q4,350600,18500,116,漳州市,三线城市,1-1.3

In [ ]:
# 划分区间


# ss=unit0[unit0.city_level_desc=='三线城市']
# ss


# s = tuple(ss['unit_price'])
# s2=list(s)

# data = s2
# s = pd.Series(data)
# cats = pd.qcut(s,6,duplicates='drop')  # 
# a = pd.value_counts(cats)
# a

In [ ]:
condlist=[
np.logical_and(unit0.city_level_desc=='一线城市',unit0.unit_price<25000),
np.logical_and(unit0.city_level_desc=='一线城市',unit0.unit_price<37000),
np.logical_and(unit0.city_level_desc=='一线城市',unit0.unit_price<46000),
np.logical_and(unit0.city_level_desc=='一线城市',unit0.unit_price<56000),
np.logical_and(unit0.city_level_desc=='一线城市',unit0.unit_price<82000),
np.logical_and(unit0.city_level_desc=='一线城市',unit0.unit_price>=82000),

np.logical_and(unit0.city_level_desc=='二线城市',unit0.unit_price<10000),
np.logical_and(unit0.city_level_desc=='二线城市',unit0.unit_price>13000),
np.logical_and(unit0.city_level_desc=='二线城市',unit0.unit_price<15000),
np.logical_and(unit0.city_level_desc=='二线城市',unit0.unit_price>20000),
np.logical_and(unit0.city_level_desc=='二线城市',unit0.unit_price<25000),
np.logical_and(unit0.city_level_desc=='二线城市',unit0.unit_price>=25000),

np.logical_and(unit0.city_level_desc=='三线城市',unit0.unit_price<10000),
np.logical_and(unit0.city_level_desc=='三线城市',unit0.unit_price>13000),
np.logical_and(unit0.city_level_desc=='三线城市',unit0.unit_price<15000),
np.logical_and(unit0.city_level_desc=='三线城市',unit0.unit_price>20000),
np.logical_and(unit0.city_level_desc=='三线城市',unit0.unit_price<25000),
np.logical_and(unit0.city_level_desc=='三线城市',unit0.unit_price>=25000),
]  #参数一，定义三个限制条件
# print(condlist)
choicelist=[
'2.5以下','2.5-3.7','3.7-4.6','4.6-5.6','5.6-8.2','8.2以上', 
'1以下','1-1.3','1.3-1.5','1.5-2','2-2.5','2.5以上', 
'1以下','1-1.3','1.3-1.5','1.5-2','2-2.5','2.5以上', 
]
# print(choicelist)
unit1=np.select(condlist,choicelist)

unit1
unit0['interval'] = unit1

# np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price<30),np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price>60),
# np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price<80),np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price>120),
# np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price<180),np.logical_and(df4.city_level_desc=='四线城市',df4.layout_price>=180)

# '四线-30以下','四线-30~60','四线-60~80','四线-80~120','四线-120~180','四线-180以上'

unit2=unit0.groupby(['city_id','newest_id','city_level_desc','quarter','interval'])['imei'].count().to_frame('number').reset_index()
unit2['type'] = 'unit_price'
unit2=unit2.astype('str')
unit2
# 结果表unit2导入到MySQL
unit2.to_sql('dws_newest_layout_price',engine,index=False,if_exists='append')

In [ ]:
# 楼盘表取面积,户型
res,columnNames = con.query('''
SELECT
a0.newest_id,a0.layout_area,a0.room,
a1.city_id
FROM 
dwb_db.dwb_newest_layout a0
JOIN 
dwb_db.dwb_newest_info a1 ON a1.newest_id=a0.newest_id
''')
layout = pd.DataFrame([list(i) for i in res],columns=columnNames)

layout_area = pd.merge(df7,layout,how='inner',on='newest_id')

# 统计区间
layout_area.loc[layout_area['layout_area']<=70,'interval'] = '70以下'
layout_area.loc[(layout_area['layout_area']<=90) & (layout_area['layout_area']>70),'interval'] = '70-90'
layout_area.loc[(layout_area['layout_area']<=110) & (layout_area['layout_area']>90),'interval'] = '90-110'
layout_area.loc[(layout_area['layout_area']<=130) & (layout_area['layout_area']>110),'interval'] = '110-130'
layout_area.loc[(layout_area['layout_area']<=150) & (layout_area['layout_area']>130),'interval'] = '130-50'
layout_area.loc[(layout_area['layout_area']<=200) & (layout_area['layout_area']>150),'interval'] = '150-200'
layout_area.loc[(layout_area['layout_area']<=300) & (layout_area['layout_area']>200),'interval'] = '200-300'
layout_area.loc[layout_area['layout_area']>300,'interval'] = '300以上'
layout_area['city_level_desc'] = ''

# layout_area2 楼盘面积区域结果表
layout_area1=layout_area.groupby(['city_id','newest_id','city_level_desc','quarter','interval'])['imei'].count()
layout_area2 = layout_area1.reset_index(name='number') # series转换至dataframe
layout_area2['type'] = 'layout_area'

layout_area2=layout_area2.astype('str')
# 导入到MySQL
layout_area2.to_sql('dws_newest_layout_price',engine,index=False,if_exists='append')



# layout_area4 楼盘户型区间结果表
layout_area.loc[layout_area['room']==1,'interval'] = '1室'
layout_area.loc[layout_area['room']==2,'interval'] = '2室'
layout_area.loc[layout_area['room']==3,'interval'] = '3室'
layout_area.loc[layout_area['room']>=4,'interval'] = '>=4室'

layout_area3=layout_area.groupby(['city_id','newest_id','city_level_desc','quarter','interval'])['imei'].count()
layout_area4 = layout_area3.reset_index(name='number') # series转换至dataframe
layout_area4['type'] = 'layout_room'
layout_area4=layout_area4.astype('str')

# 导入到MySQL
layout_area4.to_sql('dws_newest_layout_price',engine,index=False,if_exists='append')

In [ ]:
# 
data = df7.groupby(['newest_id','imei'])['visit_date'].max()
data1 = data.reset_index(name='max').reset_index()

data2 = df7.groupby(['newest_id','imei'])['visit_date'].min()
data3 = data2.reset_index(name='min').reset_index()

data4 = pd.merge(data1,data3,how='inner',on=['newest_id','imei'])

data5 = data4['max']-data4['min']
data5 = data5.reset_index(name='day')


data4['day'] = data5['day']

l = data4.day.astype("str").str.split().str[0]
n = l.astype("int")
n
data4['day1']=n
data4

In [ ]:
data4.loc[(data4['day1']>=0) & (data4['day1']<=30),'day2'] = '1个月内'
data4.loc[(data4['day1']>=31) & (data4['day1']<=90),'day2'] = '1至3个月'
data4.loc[(data4['day1']>=91) & (data4['day1']<=180),'day2'] = '3至6个月'
data4.loc[data4['day1']>=181,'day2'] = '>=6个月'
data4

In [ ]:
aa = data4['day2'].value_counts()
aa

In [ ]:
data4

In [ ]:
data5 = data4.groupby(['newest_id','day2'])['day2'].count()
data5

In [ ]:
data6 = data5.reset_index(name='number') # 转df
data6

In [ ]:
data7 = data6.groupby(['newest_id']).sum()
data7

In [ ]:
data8 = pd.merge(data6,data7,how='inner',on='newest_id')

data8

In [ ]:
# 楼盘关注周期结果表
data8['Percentage']=data8['number_x']/data8['number_y']
data8

data8.to_sql('newest_interval_visit_date_20210423',engine,index=False,if_exists='replace')

In [ ]:
# 标签表取用户小区均价区间字段并初步清洗标签标准名
res,columnNames = con.query('''
SELECT imei,resi_district_price FROM dwb_db.dwb_customer_imei_tag where resi_district_price is not null 
''')
df = pd.DataFrame([list(i) for i in res],columns=columnNames)

df = df.drop('resi_district_price', axis=1).join(df['resi_district_price'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('resi_district_price')).drop_duplicates().reset_index(drop=True)

df['resi_district_price1'] = 'Unknown'
df.loc[df['resi_district_price']=='6000-8000','resi_district_price1'] = '0.6w-0.8w'
df.loc[df['resi_district_price']=='4000-6000','resi_district_price1'] = '0.4w-0.6w'
df.loc[df['resi_district_price']=='2000-4000','resi_district_price1'] = '0.4w以下'
df.loc[df['resi_district_price']=='8000-10000','resi_district_price1'] = '0.8w-1w'
df.loc[df['resi_district_price']=='2000以下','resi_district_price1'] = '0.4w以下'
df.loc[df['resi_district_price']=='4000以下','resi_district_price1'] = '0.4w以下'
df.loc[df['resi_district_price']=='1.6-1.8w','resi_district_price1'] = '1.6w-1.8w'
df.loc[df['resi_district_price1']=='Unknown','resi_district_price1'] = df['resi_district_price']

# 城市对应表并补充缺失值
res,columnNames = con.query('''
SELECT 
distinct
city_id,city_name,city_level_desc
from 
dw.dim_geography 
where city_level_desc is not null and  city_level_desc <> ''
''')
df1 = pd.DataFrame([list(i) for i in res],columns=columnNames)

# 补4个没有城市等级的城市
dfn = pd.DataFrame([['610100','西安市', '二线城市'], ['442000','中山市', '三线城市'],['512000','资阳市','四线城市'],['422800','恩施土家族苗族自治州','四线城市']], columns=('city_id','city_name','city_level_desc'))
df1=df1.append(dfn).reset_index(drop=True)


# 浏览表读取,并贴上季度
res,columnNames = con.query('''
SELECT 
imei,
newest_id,
visit_date
FROM dwb_db.dwb_customer_browse_log
''')
df2 = pd.DataFrame([list(i) for i in res],columns=columnNames)
df2.visit_date = pd.to_datetime(df2.visit_date)
df2['quarter'] = pd.PeriodIndex(df2.visit_date, freq='Q')


df1=df1.astype('str')
# 楼盘表获取楼盘所在城市并关联所属几线城市
res,columnNames = con.query('''
SELECT newest_id,city_id FROM dwb_db.dwb_newest_info WHERE dr=0
''')
df3 = pd.DataFrame([list(i) for i in res],columns=columnNames)
df3 = pd.merge(df3,df1,how='inner',on='city_id')

# 浏览表关联楼盘所在城市是几线,关联用户所住小区均价
df4 = df2.merge(df3,how='inner',on=['newest_id']).merge(df[['imei','resi_district_price1']],how='inner',on=['imei'])
df5 = df4


df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='8w-9w'),'resi_district_price'] = '8w以上'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='9w-10w'),'resi_district_price'] = '8w以上'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='10w以上'),'resi_district_price'] = '8w以上'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='0.4w以下'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='0.4w-0.6w'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='0.6w-0.8w'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='0.8w-1w'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='1w-1.2w'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='1.2w-1.4w'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='1.4w-1.6w'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='1.6w-1.8w'),'resi_district_price'] = '2w以下'
df5.loc[(df5['city_level_desc']=='一线城市') & (df5['resi_district_price1']=='1.8w-2w'),'resi_district_price'] = '2w以下'

df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='0.4w以下'),'resi_district_price'] = '0.6w以下'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='0.4w-0.6w'),'resi_district_price'] = '0.6w以下'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='0.6w-0.8w'),'resi_district_price'] = '0.6w-1w'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='0.8w-1w'),'resi_district_price'] = '0.6w-1w'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='1.6w-1.8w'),'resi_district_price'] = '0.6w-1w'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='1.8w-2w'),'resi_district_price'] = '0.6w-1w'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='3w-4w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='4w-5w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='5w-6w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='6w-7w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='7w-8w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='8w-9w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='9w-10w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='二线城市') & (df5['resi_district_price1']=='10w以上'),'resi_district_price'] = '3w以上'

df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='0.4w以下'),'resi_district_price'] = '0.6w以下'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='0.4w-0.6w'),'resi_district_price'] = '0.6w以下'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='0.6w-0.8w'),'resi_district_price'] = '0.6w-0.8w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='0.8w-1w'),'resi_district_price'] = '0.8w-1w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='1w-1.2w'),'resi_district_price'] = '1w-1.2w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='1.2w-1.4w'),'resi_district_price'] = '1.2w-1.6w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='1.4w-1.6w'),'resi_district_price'] = '1.2w-1.6w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='1.6w-1.8w'),'resi_district_price'] = '1.6w-2w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='1.8w-2w'),'resi_district_price'] = '1.6w-2w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='2w-3w'),'resi_district_price'] = '2w-3w'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='3w-4w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='5w-6w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='6w-7w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='7w-8w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='8w-9w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='9w-10w'),'resi_district_price'] = '3w以上'
df5.loc[(df5['city_level_desc']=='三线城市') & (df5['resi_district_price1']=='10w以上'),'resi_district_price'] = '3w以上'

df5.resi_district_price.fillna(value=df5['resi_district_price1'],inplace = True)

# 居住小区均价结果表
df6=df5.groupby(['newest_id','city_level_desc','resi_district_price','city_id','city_name','quarter'])['imei'].count().to_frame('imei_count').reset_index()

df6=df6.astype('str') # 转str格式,不然数据插入不进sql

df6.to_sql('newest_interval_resi_district_price_20210423',engine,index=False,if_exists='replace')